@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.container img {
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

.btn {
	margin: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}